<div>
    <img src='{{this.image_url}}' class='img-beer' alt='{{this.name}}' />
    <div class='beers-body'>
        <h5 class='beers-name'>{{this.name}}</h5>
        <p class='beers-tagline'>{{this.tagline}}</p>
        <p class='beers-description'>{{this.description}}</p>
    </div>
</div>